<ion-header>
  <ion-toolbar>
    <ion-button color="" routerLink="/tabinical">
      <ion-icon name="arrow-back-circle-outline"></ion-icon></ion-button>
    <ion-title>Registrar</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content>
    <div class="fondo">
      
      <ion-card class="card-item">
      <ion-item>
        
          Imagen:
        
        <ion-buttons slot="end">
          <ion-button>
            <label for="file-upload">
              <ion-icon slot="icon-only" name="images"></ion-icon>
            </label>
            <input (change)="newImageUpload($event)" id="file-upload" style="display: none" type="file"
              accept="image/*">
          </ion-button>
        </ion-buttons>
      </ion-item>
    
        <img class="avatar" [src]="libro.foto">
  
      <ion-item>
        <ion-label class="normal" position="floating">
          Isbn:
        </ion-label>
        <ion-input name="nombre" [(ngModel)]="libro.codigoISBN" class="normal" type="text" inputmode="text">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="normal" position="floating">
          Título:
        </ion-label>
        <ion-input name="nombre" [(ngModel)]="libro.titulo" class="normal" type="text" inputmode="text">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="normal" position="floating">
          Autor:
        </ion-label>
        <ion-input name="nombre" [(ngModel)]="libro.autor" class="normal" type="text" inputmode="text">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="normal" position="floating">
          Editorial:
        </ion-label>
        <ion-input name="direccion" [(ngModel)]="libro.editorial" class="normal" type="text" inputmode="text">
        </ion-input>
      </ion-item>
      <ion-item>
        <ion-label class="normal" position="floating">
          Categoría:
        </ion-label>
        <ion-input name="celular" [(ngModel)]="libro.categoria" class="normal" type="text" inputmode="text">
        </ion-input>
      </ion-item>
        <ion-item>
          <ion-label class="normal" position="floating">
            Cantidad:
          </ion-label>
          <ion-input name="celular" [(ngModel)]="libro.Cantidad" class="normal" type="number" inputmode="text">
          </ion-input>
        </ion-item>

        
          

      </ion-card>
      <div item-end style="text-align: center;">
        <button ion-button clear (click)="guardarUser()" style="margin-right: 20px;">
          <ion-icon name="save-outline" style="zoom:2.0; background-color: white;"></ion-icon>
        </button>
      </div>
    </div>
  </ion-content>